body{
  margin: 0;
  padding: 0;
  background-color: white;
}
.container{
  width: 50%;
  margin: auto;
  color: black;
}
.App-header{
  margin-top: 300px;
}
table{
  border: 5px solid black;
  text-align: left;
  margin: 5px;
  background-color: white; 
}
tr,th,td{
  margin: 5px;
  padding: 5px;
}